¿gversionk3.17.1-javaewidth fheightîjpositionsXŽq„9N•Å³\ [RÌŽjpositionsYŽJ?p^æÞªû+~èŠvbjdirectionsŽú@†‘½ú@U±üú@Åß^ú@B®âú@X½–ú@mó0ú@[·ú@¼â¿ú>v›ú@¾Äú@B®âú@9b ú@k¦ú@LB_etypesnBBEBEBEEBBEBBEÿ