┐gversionk3.17.1-javaewidth fheightюjpositionsXРЫ╘nКмЮк№XРйфхhVмjpositionsYР.NF·v^В╨ШЦ░6╙B╛jdirectionsР·@0╡г·@RЧD·@╛I╨·@┐╝=·>vЫ·@Ц╦ф·@5|V·@jж·@╢Ю0·@┼▀^·@Bот·@U▒№·@RЧD·@║9з·@▒э5·@?ИqetypespBBBEBBBBBBBEEEBE 