¿gversionk3.17.1-javaewidth fheightîjpositionsXN3.›qª–dÖr"rªjpositionsYˆ‰L vtpäÿ
:òjdirectionsú@¾IÐú@¾IÐú@º9§ú@U±üú@6h ú@IÛú@Œ€ú@9b ú@i>pú@?ˆqú@·Ä½ú>v›ú@X½–etypesmEBEBBEBBBEBBEÿ