¿gversionk3.17.1-javaewidth fheightîjpositionsXŠ†ûvëË¼b°ûšjpositionsYŠØæîÄWµôÀR¢jdirectionsŠú@6h ú@k¦ú@¿¼=ú@sÕú@X½–ú@U±üú@½Ä(ú@€Óú@p%ýú=ÌetypesjBBEBEBBBBBÿ