¿gversionk3.17.1-javaewidth fheightîjpositionsXŠG %Q._‡njpositionsYŠÞŠœnZÚ°jdirectionsŠú@IÛú@?ˆqú@Åß^ú@EÝVú@X½–ú>zÛ°ú@[·ú@owú@dåú@r>úetypesjBBEEBBEBBEÿ