¿gversionk3.17.1-javaewidth fheightîjpositionsX‹Çý%ø-Qj¾BÑjpositionsY‹¦òzøž¼¼i¢jdirections‹ú@0µ£ú@OpÓú@dåú@R—Dú@i>pú?+ú@}…ú@»‡Öú@m:ú=L¡-ú@e_·etypeskBEBBBEEEEBBÿ