¿gversionk3.17.1-javaewidthhfheightjpositionsX˜#ëãK)c{NN¥WÜ4nìëî&.†•¼!S–(3Y$O:w“jpositionsY˜#&Æ–‚¦®àP¥¡J®R¶°ºÐ¨\ä,ì®«)%îÀä>p: 0jdirections˜#ú@·	+ú@·Ä½ú@<mºú@Â¾Êú>•9Óú@ajú@B®âú@B®âú@Rùú>v›ú@³­:ú@-ÿÑú@Åß^ú@U±üú@(›ú@ºçíú@¼â¿ú@ÀdBú@º9§ú@Åß^ú>J"ú?Ñ5ú@i>pú@±œ¢ú@¿¼=ú=Ìú@zÓú@ºçíú@0µ£ú@IÛú@Çv˜ú@?ˆqú@EÝVú>Ø€Oú@[·etypesx#BEBBBBEEBBEEEEEEEEBEEBBEEEBBEBBBBBEÿ